.SearchEngine form {
  margin-top: 0;
  display: flex;
  flex-direction: row;
}
.SearchEngine .button {
  left: -15%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.SearchEngine .search-icon {
  font-size: 1rem;
  position: relative;
  color: #100e0e;
}
.SearchEngine .form-control {
  height: 50px;
  border-radius: 50px;
  border: 0.5px solid #ffffff;
  flex-grow: 2;
  padding: 0;
}
/*
.SearchEngine .form-control {
  border: 1px solid rgb(17, 17, 17, 0.1);
  border-radius: 30px;
  background: #e6dedd;
  margin-top: 0;
  max-width: 100%;
  opacity: 50%;
  padding: 20px 20px;
  transition: all 200ms ease-in-out;
  width: 500px;
}
.SearchEngine .form-control:hover {
  border: 1px solid rgb(17, 17, 17, 0.1);
  opacity: 90%;
} */
.SearchEngine .search-icon {
  opacity: 100%;
  transition: all 150ms ease-in-out;
}
.SearchEngine .search-icon:hover {
  opacity: 70%;
}
