/* City and date */
.Weather h1 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 3.25em;
}
.Weather .overview {
  margin-bottom: 30px;
}
.Weather .date-text {
  color: #8f8f8f;
}

/* Middle section temperature */
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
}
.Weather .weather-temperature {
  font-size: 2em;
  font-weight: 700;
  padding: 60px 0;
  text-align: right;
}
.Weather .temp-parameters {
  text-align: left;
  padding: 60px 0;
}
.Weather div:first-letter {
  text-transform: capitalize;
}
.Weather .description {
  font-size: 150%;
  margin-top: 5px;
  margin-bottom: 20px;
}
.Weather .weather-icons {
  transition: all 150ms ease-in-out;
  /* opacity: 1; */
  /* height: 70px; */
  /* color: #f638dc; */
}
.Weather .weather-icons:hover {
  opacity: 0.7;
}
